@charset "utf-8";
/* CSS Document */

#paper {border: 1px solid gray;
		width: 601px;
		position: absolute;
		z-index: 0;
		top: 205px;
		left: 205px;
		}

#control {position: absolute;
				z-index: 1;
				top: 200px;
				left: 210px;
				width: 10em;
				font: font: italic sans-serif;}
				
#contain {position: absolute;
			z-index: -1;
		  top: -200px;
		  left: -200px;
		  width: 1000px;
		  height: 1000px;}

body {overflow:hidden;
		font-size: 12px;}

