<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Androidicus</title>

    <link rel="stylesheet" type="text/css" href="/media/stylesheets/styles.css"/>
    <script src = "/media/scripts/jquery.js"></script>
    <script src = "/media/scripts/index.js"></script>
    <script src = "/media/scripts/raphael.js"></script>

</head>

<body>
	<div id="header">
    	<img src="/media/images/header new.png"/>
    </div>
    <div id="nav">
    	<ul>
        	<li id="home-button" class="top current-tab">
                <a href="/home" >Home</a>
            </li>
            <li>
                <span>Toys</span>
                
            </li>
            <ul class = "subnav">
                <li id="spirograph-button" class="navbutton">
                    <a href="/toys/spirograph">Spirograph</a>
                </li>
                <li id="sierpinski-button" class="navbutton">
                    <a href="/toys/sierpinski">Sierpinski's Trangle</a>
                </li>
            </ul>
            
            
            <li id="about-button" class="navbutton">
                <a href="/about">About</a>
            </li>
            <li id="contact-button" class="navbutton bottom">
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>
    <div id="main">
        <div id="mainbg" class="main-overlay">
        </div>
        <div id="subpage" class="main-overlay">
        </div>
    </div>
</body>
</html>
